.play-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.player-bar {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.join-button {
    position: absolute;
    left: 10px;
}